body {
    font-size: 20px;
    color: white;
    text-shadow: 0 1px 0 black, 0 0 5px black;
}

p {
    padding: 0 0.5em;
    margin: 0;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
    font-size: 100%;
}

html,
body {
    color: #333
}

body {
    background: #fff;
    overflow-x: hidden;
}

ul,
ol,
li {
    list-style: none;
}

a:link,
a:visited {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #12b7f5;
}

img {
    border: none;
}

em {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}